@model List<WebApplication.Module32.Models.Db.Request>

<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Date</th>
            <th>Url</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var request in Model)
        {
            <tr>
                <td>@request.Id</td>
                <td>@request.Date</td>
                <td>@request.Url</td>
            </tr>
        }
    </tbody>
</table>
