@model List<WebApplication.Module32.Models.Db.Request>

<!DOCTYPE html>
<html>
<head>
    <title>Request Logs</title>
</head>
<body>
    <h1>Request Logs</h1>
    <table>
        <tr>
            <th>Date</th>
            <th>URL</th>
        </tr>
        @foreach (var request in Model)
        {
            <tr>
                <td>@request.Date</td>
                <td>@request.Url</td>
            </tr>
        }
    </table>
</body>
</html>
